[submodule "cyberdogsim_ws/src/unitree_guide"]
	path = cyberdogsim_ws/src/unitree_guide
	url = https://github.com/fan-ziqi/unitree_guide.git
[submodule "cyberdogsim_ws/src/unitree_ros"]
	path = cyberdogsim_ws/src/unitree_ros
	url = https://github.com/fan-ziqi/unitree_ros.git
